<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="http://logs-01.loggly.com/" />
      <inputKey value="9df532d4-16b6-4021-bd73-0086c74b2cea" />
      <tag value="ffco-test" />
    </appender>
  </log4net>

</configuration>