table.gridtable {
	border-width: 1px;
	border-color: grey;
    border-bottom: 1px solid grey;
    width: 100%;
}
table.gridtable th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: grey;
}
table.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: grey;
}
.swagger-section #header {
    background-color: #0098DB;
}
.swagger-section #header #logo {
    padding: 20px 0 20px 120px;
}
.swagger-section .swagger-ui-wrap a {
    color: #0098DB;
}